.flex-container{


    display:flex;
flex-direction: row;
    flex-wrap: wrap;
    
}
img{

min-height: 87px;
   min-width: 130px; 
   
max-height: 87px;
max-width: 130px; 
}
.cell{
    height: 100%;
    width: 20%;

  border: 5px solid black;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
}
.cellin{

    height: 50%;
    width: 100%;
}
