<div class="flex-container ">
   

   
<div>
<a  [routerLink]="['/region/Asia']">
        <img class="card-img-top" src="assets\legal-world-asia.png" alt="Card image cap">
       
      </a>

</div>
<div>
    <a  [routerLink]="['/region/Africa']">
            <img class="card-img-top" src="assets\continent-africa-29527326.png" alt="Card image cap">
          
          </a>

</div>
<div>
<a  [routerLink]="['/region/Americas']">
        <img class="card-img-top" src="assets\ampng.png" alt="Card image cap">
      
      </a>
    
</div>

<div>

    <a  [routerLink]="['/region/Europe']">
            <img class="card-img-top" src="assets\xwelcometoeurope_560.png.pagespeed.ic.kC3B5woXlM.jpg" alt="Card image cap">
          
          </a>

</div>

<div>
 <a  [routerLink]="['/region/Oceania']">
        <img class="card-img-top" src="assets\oceania.gif" alt="Card image cap">
      
      </a>
</div>

  </div>